/* Vars */
:root {
    --front-clouds: 0;
    --back-clouds: 0;
}

/* Fonts */
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}


/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0b0012;
    
    margin: 0px;

    display: flex;
    flex-direction: column;
    gap: 0; /* Ensures no space between structural items */
}

a {
    color: #fb922b;
}

.accent {
    color: #c2ffea;
}

.ascii {
    white-space: pre-wrap;
}


/* Top bar navigation */
.global_nav {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: right;
    align-items: center;

    background-color: #e6ffec;
    padding: 10px;
    margin: 0;

    scroll-behavior: smooth;
}

.global_nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;

    padding: 0;
    margin: 0;
}

.global_nav ul a {
    color: #0b0012;
    text-decoration: none;
    border-bottom: 2px solid #2f3d66;

    font-size: 1.2rem;
}
.global_nav ul a:hover {
    color: #2f3d66;
}


/* Header */
header {
    height: 100dvh;
    margin: 0;

    background-color: #0b0012;
    
    background-image:
        url("assets/images/header_background/FrontTrees.png"),
        url("assets/images/header_background/BackTrees.png"),
        url("assets/images/header_background/Mounds.png"),
        url("assets/images/header_background/FrontClouds.png"),
        url("assets/images/header_background/BackClouds.png"),
        url("assets/images/header_background/Stars.png");
    
    background-repeat: repeat-x;

    background-position: 
        50% 100%,
        50% 95%,
        50% 90%,
        var(--front-clouds) 85%,
        var(--back-clouds) 80%,
        50% 0%;
    
    background-size: 900px;

    color: #e6ffec;
}

header section {
    padding-top: 25dvh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin: 0px;
}

.subtitle {
    text-align: center;
    font-size: 1.5rem;
}


/* Main */
main {
    margin: 0px;
    padding: 0px;

    background-color: #2f3d66;

    color: #e6ffec;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

main section {
    padding: 10dvh;
}

/* About Me */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#about p.border_left {
    width: 30px;
    white-space: pre-wrap;
    text-align: right;
}
#about p.border_right {
    width: 30px;
    white-space: pre-wrap;
    text-align: left;
}

#about p {
    max-width: 600px;
}

