/* Mobile Specifier */
@media (max-width: 900px) {
    
/* Header */
header {
    background-size: contain;
}

header div {
    display: flex;
    flex-direction: column;
}


/* Main */
main section {
    max-width: 95%;
}


/* Project Work */
.card .info {
    flex-direction: column;
}

}