/* Mobile Specifier */
@media (max-width: 900px) {
    
/* Header */
header {
    background-size: contain;
}

header div {
    display: flex;
    flex-direction: column;
}

/* Main Content */
#about p.border_left {
    visibility: collapse;
}
#about p.border_right {
    visibility: collapse;
}

}